[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	main-window-view = HistoryView
	history-view-vpane-position = 412
	file-view-vpane-position = 925
[user]
	name = John Yates
	email = john.yates@sparqlcity.com
[diff]
	tool = emacs
[difftool]
	prompt = false
[difftool "emacs"]
	cmd = emacsclient -a \"\" -F \"((fullscreen . maximized))\" -e \"(ediff-files \\\"${REMOTE}\\\" \\\"${LOCAL}\\\")\"
