[user]
	name = John S Yates Jr
	email = john@yates-sheets.org
[diff]
	tool = emacs
	algorithm = histogram
	renames = copies
	mnemonicprefix = true
[difftool]
	prompt = false
[difftool "emacs"]
	cmd = emacsclient -cqa \"\" -F \"((fullscreen . maximized))\" -e \"(ediff-files \\\"${REMOTE}\\\" \\\"${LOCAL}\\\")\"
[merge]
	log = true
[push]
	default = nothing
[color]
	ui = auto
