# Remember: last (not first) pattern that matches

# Files, irrespective of where they occur
*.[ao]
*.elc
*.pyc
*matlab_crash_dump.*
*~
%*
am.dmp
gdb
.gdb_history
java.log.*
jogl.ex.*
tags
BROWSE
TAGS

# Files in ~/bin
doxygen*
st-dark
st-light

# Hidden files in the root of the home directory
#/.* -- Do not include this pattern.  This supports spotting
#       newly added dot files and making explicit decisions
#       about how they should be treated.
/.ICEauthority
/.Xauthority
/.bash_history
/.bash_logout
/.bzr.log
/.dmrc
/.esd_auth
/.fehbg
/.gksu.lock
/.gtk-bookmarks
/.install4j
/.lesshst
/.login
/.logout
/.nano_history
/.nfs*
/.nvidia-settings-rc
/.p4enviro
/.pinerc
/.plan
/.pulse-cookie
/.repo_.gitconfig.json
/.repopickle_.gitconfig
/.sudo_as_admin_successful
/.viminfo
/.vimproj.xml
/.vimrc
/.xsession-errors
/.xsession-errors.old

# For completeness here are the currently tracked dot-files
!/.bashrc
!/.emacs
!/.gitconfig
!/.gitignore
!/.gitattributes
!/.profile


# List directories after individual files.  Here is a quote from the
# gitignore man page: "It is not possible to re-include a file if a
# parent directory of that file is excluded."

# Hidden directories in the root of the home directory
#/.*/ -- Same rationale as for /.* (see previous comment).
/.AndroidStudio1.2/
/.adobe/
/.android/
/.aptitude/
/.cache/
/.compiz/
/.config/
/.cpan/
/.dbus/
/.eclipse/
/.elinks/
/.emacs.d/
/.felix/
/.fontconfig/
/.gimp-2.8/
/.gnome/
/.gnome2/
/.gnupg/
/.gstreamer-0.10/
/.hplip/
/.icedove/
/.java/
/.jmc/
/.kde/
/.local/
/.macromedia/
/.matlab/
/.mission-control/
/.mozilla/
/.nv/
/.oracle_jre_usage/
/.p4merge/
/.p4qt/
/.pki/
/.pulse/
/.remmina/
/.repoconfig/
/.sbtools/
/.snapshot/
/.speech-dispatcher/
/.ssh/
/.subversion/
/.synaptic/
/.terminfo/
/.texmf-var/
/.thumbnails/
/.thunderbird/
/.tin/
/.vmware/
/.vnc/
/.webex/
/.winswitch/
/.xpra/
/.yEd/
#
/Android/
/Contacts/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Links/
/Pictures/
/fontconfig/
/repos/

# Typicallly subdirectories of the home directory are version
# controlled independently.  These are the directories deemed
# part of HOME.
#/*/ -- Same rationale as for /.* (see previous comment).
!/bin/
!/.dinafont/
!/dot-files/
!/emacs/
!/.mine/
!/org/
!/.sbsyncmaster/

# In my setup at home ~/asd is a symbolic link to ~/wrk/asd
asd
