[user]
	name = John S. Yates, Jr.
	email = john@yates-sheets.org
[diff]
	algorithm = histogram
	renames = copies
	mnemonicprefix = true
	tool = emacs
[difftool "emacs"]
	cmd = emacsclient -cqa \"\" -F \"((fullscreen . maximized))\" -e \"(ediff-files \\\"${REMOTE}\\\" \\\"${LOCAL}\\\")\"
	prompt = false
[merge]
	log = true
[push]
	default = nothing
[color]
	ui = auto
[alias]
	pfo = pull --ff-only
	undo = reset HEAD~1
	strip = reset HEAD~1 --hard
[transfer]
        fsckObjects = true
[fetch]
        fsckObjects = true
[receive]
        fsckObjects = true
