# Remember: last (not first) pattern that matches

# Files, irrespective of where they occur
*.[ao]
*.elc
*.pyc
*matlab_crash_dump.*
*~
%*
am.dmp
gdb
gdb-7.9
gdb-7.10
.gdb_history
java.log.*
jogl.ex.*
tags
BROWSE
TAGS

# Files in ~/bin
doxygen*
st-dark
st-light

# Hidden files in the root of the home directory
#
# ~/.*  Do not include this pattern.  This supports spotting
#       newly added dot files and making explicit decisions
#       about how they should be treated.
#
# At Mathworks the following directories are moved from the
# slow network to local-ssd and replaced with symbolic links:
# ~/.cache
# ~/.config
# ~/.fontconfig
# ~/.icons
# ~/.pki
#
# Similarly the following directory is on the network to allow
# access during distributed builds:
# ~/runLogs
#
/.ICEauthority
/.Xauthority
/.Xconfig*
/.bash_history
/.bash_logout
/.bzr.log
/.cache
/.ccache
/.config
/.dmrc
/.esd_auth
/.*fakexinerama
/.fehbg
/.fontconfig
/.gksu.lock
/.gtk-bookmarks
/.icons
/.install4j
/.lastModified
/.lesshst
/.login
/.logout
/.nano_history
/.nfs*
/.nvidia-settings-rc
/.p4config
/.p4enviro
/.p4tickets
/.pinerc
/.pki
/.plan
/.post-review-cookies.txt
/.pulse-cookie
/.repo_.gitconfig.json
/.repopickle_.gitconfig
/.sudo_as_admin_successful
/.viminfo
/.vimproj.xml
/.vimrc
/.xsession-errors
/.xsession-errors.old
/.xsession-x2go-errors
/.zgrviewer
/MATLABDesktopCreateError.log

# For completeness here are the currently tracked dot-files
!/.bashrc
!/.emacs
!/.gitconfig
!/.gitignore
!/.gitattributes
!/.profile


# List directories after individual files.  Here is a quote from the
# gitignore man page: "It is not possible to re-include a file if a
# parent directory of that file is excluded."

# Hidden directories in the root of the home directory
#/.*/ -- Same rationale as for /.* (see previous comment).
/.AndroidStudio1.2/
/.BullseyeCoverage/
/.Xilinx/
/.adobe/
/.android/
/.aptitude/
/.arduino15/
/.bear/
/.cache/
/.ccache/
/.ccache-sbinfo/
/.cgtools/
/.compiz/
/.config/
/.cpan/
/.dbus/
/.ddd/
/.eclipse/
/.elinks/
/.emacs.d/
/.felix/
/.fltk/
/.fontconfig/
/.freerdp/
/.gephi/
/.gimp-2.8/
/.gnome/
/.gnome2/
/.gnupg/
/.gstreamer-0.10/
/.hplip/
/.icedove/
/.java/
/.jmc/
/.jssc/
/.kde/
/.local/
/.macromedia/
/.matlab/
/.mission-control/
/.mozilla/
/.nedit/
/.nv/
/.oracle_jre_usage/
/.p4merge/
/.p4qt/
/.pki/
/.pulse/
/.purple/
/.remmina/
/.repoconfig/
/.sbtools/
/.snapshot/
/.speech-dispatcher/
/.ssh/
/.subversion/
/.synaptic/
.sbsyncmaster/Bcgir_task.logs/
.sbsyncmaster/Bcgir_thin.logs/
/.terminfo/
/.texmf-var/
/.thumbnails/
/.thunderbird/
/.tin/
/.vim/
/.vmware/
/.vnc/
/.webex/
/.winswitch/
/.x2go/
/.x2goclient/
/.xpra/
/.yEd/
#
/Android/
/Contacts/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/GECKS/
/Links/
/Pictures/
/fontconfig/
/logs/
/mathworks-bug/
/repos/
/runLogs/

# Typicallly subdirectories of the home directory are version
# controlled independently.  These are the directories deemed
# part of HOME.
#/*/ -- Same rationale as for /.* (see previous comment).
!/bin/
!/.dinafont/
!/dot-files/
!/emacs/
!/.mine/
!/org/
!/.sbsyncmaster/

# In my setup at home ~/asd is a symbolic link to ~/wrk/asd
asd
