# Files, irrespective of where they occur
*.[ao]
*.elc
*~
%*
am.dmp
tags
BROWSE
TAGS

# In my setup ~/asd is a symbolic link to ~/wrk/asd
asd

# Files in ~/bin
doxygen*
st-dark
st-light

# Hidden files in the root of the home directory
/.*
!/.bashrc
!/.emacs
!/.gitconfig
!/.gitignore
!/.gitattributes
!/.profile

# Hidden directories in the root of the home directory
/.*/
!/.emacs.d/

# Subdirectories of the home directory
/*/
!/bin/
!/.dinafont/
!/dot-files/
!/emacs/
!/org/
